<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>

	<h1>Epic Task</h1>
	
	<h2>Nova Tarefa</h2>
	
	
	<form action="/task" method="post">
		<label for="title">Título</label>
		<input id="title" name="title">
		
		<label for="description">Descrição</label>
		<textarea id="description" name="description" 
				rows="" cols=""></textarea>
		
		<label for="points">Pontos</label>
		<input type="range" name="points" id="points">
		
		<a href="/task">Cancelar</a>
		<button>Salvar</button>
	</form>

</body>
</html>